
table, th, td {
  border: 1px solid black;background-color: yellowgreen;
  border-collapse: collapse;
}
th {
    border: 1px solid black;background-color: rgb(253, 9, 9);
    border-collapse: collapse;
  }