
table, th, td {
  border: 1px solid black;background-color: darkgreen;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: right;
}
th {
    border: 1px solid black;background-color: rgb(177, 22, 29);
    border-collapse: collapse;
  }