
table, th, td {
  border: 1px solid black;background-color: brown;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: right;
}
th {
    border: 1px solid black;background-color: rgb(102, 16, 240);
    border-collapse: collapse;
  }