
table, th, td {
  border: 1px solid black;background-color: teal;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
th {
    border: 1px solid black;background-color: rgb(19, 245, 151);
    border-collapse: collapse;
  }